


h1 +p{color:rgb(97, 59, 162);}
h1~p {font-weight:bold; }
h1{
    text-shadow:5px 5px 0px #323d5a;
    text-decoration: underline;

}

label{
    float:left;
    /*왼쪽으로 붙이는 작업*/
    font-size:15px;
    width:80px;

}
fieldset{
    border: 1px solid #15b307 ;
    width: 400px;
    
}

legend{
    font-size: 15px;
    font-weight: bold;
}
#signup input{
    border: 1px solid #e91123cc;
}
li{
    list-style:none;
}

#signup input[type ="submit"]{
    background-color: blueviolet;
    color: white;
    width:80px;
    height:30px;
    border-radius: 10px;


}

#signup input[type="submit"]:hover{
    background-color: pink;
}
fieldset:last-of-type{
    border: none ;
}

#name, #email, #tel{
    width : 200px
}